{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Add Doctor</title>
{% endblock %}

{% block body %}

<form method="post">
{%csrf_token%}
<label> Username </label>         
<input type="text" name="username"/> <br> <br>  
<label> Firstname: </label>     
<input type="text" name="firstname" /> <br> <br>  
<label> Lastname: </label>         
<input type="text" name="lastname" /> <br> <br>  
<label> Email: </label>         
<input type="email" name="email" /> <br> <br>  
<label> Phone: </label>         
<input type="number" name="phone" /> <br> <br>  
<label> Education: </label>         
<input type="text" name="education" /> <br> <br>  
<label> Age: </label>         
<input type="number" name="age" /> <br> <br>  
<label> Specialist: </label>         
<input type="text" name="specialist" /> <br> <br>  
<label> Password: </label>         
<input type="password" name="password1" /> <br> <br>  

<button type="submit">Button</button>
</form>

{% endblock %}