{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}


<div class="hero-mvp-content">
	  <h1>Flexible scheduling software to help you succeed</h1>
		<p class="hero-mvp-caption">With seamless client scheduling, secure payments, and workflow automation, all you have to do is show up on time.</p>
		<div class="hero-mvp-cta-box">
		  <a id="signup-main-button" href="{% url 'booking' %}" data-testid="try-now-button">Book Now</a>
			<p>No credit card needed</p>
		</div>
	</div>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="{% static 'img/1.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/2.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/3.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/4.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/5.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/6.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/7.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/8.png' %}" height="100" width="250" alt="" />
      </div>
      <div class="slide">
        <img src="{% static 'img/9.png' %}" height="100" width="250" alt="" />
      </div>  
    </div>
  </div>   
</div>


<h2>Doctors</h2>


<!--{% for i in doctor %}
<div class="card">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>{{i.admin.username}}</b></h4> 
    <p>Architect & Engineer</p> 
    <a type="button" class="btn btn-primary shadow  mt-5" href="booking">Online Booking</a>
  </div>
</div>
{%endfor%}-->



  



{% endblock %}